.credits{

    display: flex;
    justify-content: center;
    color: white;
    font-weight:300 ;
    font-size: 14px;
    align-items: end;
    position: absolute;
    bottom: 10px;
}


@media (max-width:285px){
    .credits{
     bottom: -72px;
    }
}