.userdata-container{
    height: 70px;
    background-color: white;
    margin: 10px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-inline-end: 12px;
    border: 1px solid #6c28f4;
    padding: 10px;
    /* flex: 0 0 50%; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.userdata-container:hover{
    background-color: #f1f1f1;
}
.userdata-container:active{
    transform: scale(0.98);
}

.userdata-icon{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #6c28f4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
    color: #6c28f4;
    font-family: monospace;
}
.userdata-details{
    display: flex;
    flex-direction: column;
    flex: 0.5;
    background-color: transparent;
    gap: 5px;
    padding-inline-end: 2px;
}

.userdata-name{
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.userdata-username{
    background-color: transparent;
    color: grey;
    font-size: small;
    max-width: 250px;
    overflow: hidden;
}
.userdata-add-icon{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: white;
    margin-left: auto;
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
}