*{
    box-sizing: border-box;
    margin: 0;   
    padding: 0;
    background-color: #6c28f4;
}
.App{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
input{
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    scrollbar-width: none;
}

span{
    background-color: transparent;
}

img ,b ,p{
 background-color: transparent;
}
button:hover{
 cursor: pointer;
}

.back{
    display: none;
    /* flex:1; */
}
.show-me{
    display: flex !important;
    flex: 1 !important;
}

.backBtn{
    display: none !important;
}
.css-1idz92c-MuiCircularProgress-svg {
    background-color: transparent !important;
}
.Toastify{
    background-color: transparent !important;
}
.Toastify__toast-container--top-center {
    background-color: transparent;
}
.Toastify--animate-icon svg,
.Toastify__close-button svg,
.Toastify__toast-body > div:last-child ,
.Toastify__toast-body,
.Toastify__toast-body>svg,
.Toastify__toast-icon,svg {
    background-color: transparent !important;
}

@media (max-width:615px){
    .chatarea-container{
        display: none;
    }

    .backBtn{
        display: flex !important;
    }    
}


